.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sentenceResultContainer {
  max-width: 700px;
  text-align: left;
}

.textInput {
  min-width: 700px;
  margin-bottom: 20px;
}

.legend {
  display: flex;
}

.legendItem {
  padding: 10px;
}

.legendItem > span {
  margin-right: 5px;
}

.colorIndicator {
  display: inline-block;
  width: 15px;
  height: 15px;
}
