.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.App {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}
.half {
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
}

.toolContainer {
  margin-left: 15px;
}

.sentenceResultContainer {
  max-width: 700px;
  text-align: left;
}

.textInput {
  width: calc(100% - 32px);
  height: 100%;
  background: #282c34;
  color: #fff;
  font-size: 18px;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
}

.textInput:focus {
    outline: none;
}

.legend {
  display: flex;
}

.legendItem {
  padding: 10px;
}

.legendItem > span {
  margin-right: 5px;
}

.colorIndicator {
  display: inline-block;
  width: 15px;
  height: 15px;
}
